<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Main row -->
    <div class="row">
        <section class="col-lg-8 col-lg-offset-2 connectedSortable">

            <!-- Map box -->
            <div class="box box-solid">
                <div class="box-header">
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-primary btn-sm daterange pull-right" data-toggle="tooltip" title="Date range"><i class="fa fa-calendar"></i></button>
                        <button id="projectosbox" class="btn btn-primary btn-sm pull-right" data-widget='collapse' data-toggle="tooltip" title="Collapse" style="margin-right: 5px;" ><i class="fa fa-minus"></i></button>
                    </div><!-- /. tools -->

                    <i class="fa fa-file-powerpoint-o"></i>
                    <h3 class="box-title">
                        Proyectos
                    </h3>
                </div>
                <div class="box-body">
                    <table id="example" class="table table-bordered display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>nombre</th>
                                <th>descripcion</th>
                                <th>evaluador</th>
                                <th>fecha</th>                                
                            </tr>
                        </thead>
                    </table>
                </div><!-- /.box-body-->
                <div class="box-footer no-border">
                    <div class="row">
                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                            <div id="sparkline-1"></div>
                            <div class="knob-label">Fallidos</div>
                        </div><!-- ./col -->
                        <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                            <div id="sparkline-2"></div>
                            <div class="knob-label">Sin Evaluar</div>
                        </div><!-- ./col -->
                        <div class="col-xs-4 text-center">
                            <div id="sparkline-3"></div>
                            <div class="knob-label">Exitosos</div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->
                </div>
            </div>
        <div class="row">
            @Html.ActionLink("Nuevo Proyecto", "CreateForm", "proyectos", null, new { @class = "modal-link pull-right btn btn-primary" })
        </div>
            <!-- /.box -->


        </section><!-- /.content -->
    </div>
</section>
<!-- add new calendar event modal -->
<script type="text/javascript">
    $.ajax({
        url: '@Url.Action("proyectosApi", "api")',
        success: function (data) {            
            var tableprojectos=  $('#example').dataTable({
                data: data,
                columns:
                    [
                        { data: "id" },
                        { data: "nombre" },
                        { data: "descripcion" },
                        { data: "evaluador" },
                        { data: "fecha" },
                    ]
            });
        }
    }); 
    var nuevo = '@ViewBag.nuevo';
</script>


